.label {
  margin-bottom: 1rem;
}

.inputData {
  border: 1.5px solid #cdcdcd;
  border-radius: 3.5px;
  width: 36rem;
  height: 3.6rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  border-bottom: 0.5rem;
}

.inputSelect {
  border: 1.5px solid #cdcdcd;
  border-radius: 3.5px;
  width: 36.8rem;
  height: 3.6rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  background-color: #efefef;
}
